<ion-view ng-controller="NuevaCategoriaCtrl" class="fade-out" title="">
  <div class="animate-ripple invitados-subtotales has-header invitado-header" style="z-index:6" >
    <div class="row item-totals">
      <div class="col col-20" style="text-align: left;"><span>Nombre </span></div>
      <div class="col col-70 item-input">
        <input placeholder="Qué compramos? "
               select-on-click
               type="text"
               ng-model="categoria.nombre"
               style="text-align: left; background: none">
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="spacer"></div>
    <div class="row item-totals">
      <div class="col col-20" style="text-align: left;"><span>Salió $</span></div>
      <div class="col col-70 item-input">
        <input placeholder="Cuánto salió? "
               select-on-click
               type="number"
               ng-model="categoria.precioUnitario"
               style="text-align: right; background: none">
      </div>
      <div class="col col-10"></div>
    </div>
  </div>
  <ion-content style="padding-top: 7rem">
    <ion-list style="z-index:2">
      <ion-item class="item-categoria" ng-repeat="inv in invitadosConsumidores">
        <div class="card">
          <ion-toggle class="rgba-secondary-1-0" ng-model="inv.seleccionado">
            {{inv.invitado.nombre}}
          </ion-toggle>
        </div>
      </ion-item>
      <ion-item style="height: 2em"></ion-item>
    </ion-list>

  </ion-content>
  <div class="hide-on-keyboard-open">
    <button id="fab-nextInvitado" ng-click="guardarCategoria()" nav-clear
            class="button button-fab button-fab-bottom-right expanded button-violeta spin"><i
      class="icon ion-checkmark-round"></i>
    </button>
    <button id="fab-borrarInvitado" ng-click="borrarCategoria()" nav-clear
            class="button button-fab button-fab-bottom-left expanded button-assertive-900 spin"><i
      class="icon ion-trash-b"></i>
    </button>
  </div>
  <toast style="margin-bottom:50%"></toast>

</ion-view>
