<ion-view view-title="Qué compramos?">
  <div class="categorias-subtotales has-header animate-ripple">
  <ion-item class="item-totals">
    <div class="ink ink-dark">
      <div class="row">
        <div class="col">
          Total gastado
        </div>
        <div class="text-right col">
          <i class="icon ion-social-usd"></i> {{calcularTotal()}}
        </div>
      </div>
    </div>
  </ion-item>
  </div>
  <ion-content ng-class="{expanded:isExpanded}" class="has-categorias-subtotales">
    <ion-list class="animate-ripple ">
      <ion-item class="card-item item-invitado" ng-repeat="cat in getCategorias()">
        <div ng-click="seleccionarCategoria(cat)" class="card ink ink-dark">
          <div class="item item-text-wrap item-data">

            <strong>{{cat.nombre}}</strong>

            <div class="card-footer text-right rgba-secondary-2-4">
              <i class="icon ion-social-usd"></i> {{cat.getTotal()}}
              <i class="icon ion-android-people"></i> {{calcularCantidad(cat)}}
            </div>
          </div>
        </div>

      </ion-item>

      <ion-item style="min-height: 5em" class="item-clear ">

      </ion-item>
    </ion-list>

  </ion-content>


  <img src="img/tutorial 1.png" class="tutorial animate-fade-in" ng-show="getCategorias().length == 0">


  <button id="fab-categoria-plus" ng-click="nuevaCategoria()"
          class="button button-fab button-fab-bottom-right expanded button-green spin"><i
    class="icon ion-plus-round"></i></button>

</ion-view>
