<ion-view view-title="Qué compramos?">
  <div class="categorias-subtotales has-header animate-ripple">
    <ion-item class="item-totals">
      <div class="ink ink-dark">
        <div class="row">
          <div class="col">
            Total gastado
          </div>
          <div class="text-right col">
            <i class="icon ion-social-usd"></i> {{calcularTotal()}}
          </div>
        </div>
      </div>
    </ion-item>

  </div>
  <div class="form-input animate-expand " ng-show="mostrarFormulario">
    <ion-item class="item-totals input-form">
      <div class="row">
        <div class="col-75">
          <div class="item-input" id="nombreCategoria">
            <i class="icon icon-left ion-pricetags stable"></i>
            <input placeholder="Nombre" type="text" ng-model="categoria.nombre">
          </div>
          <div class="item-input">
            <i class="icon icon-left ion-social-usd stable"></i>
            <input placeholder="Precio" type="number" ng-model="categoria.precioUnitario" select-on-click>
          </div>
        </div>
        <div class="col-20 button-col" ng-show="editando == false">
          <button class="ink" ng-click="agregarCategoria()">
            <i class="icon ion-android-add-circle icon-right"></i>
          </button>
        </div>
        <div class="col-20 button-col" ng-show="editando == true">
          <button class="ink" ng-click="agregarCategoria();closeForm()">
            <i class="icon ion-checkmark-circled icon-right"></i>
          </button>
        </div>
        <div class="col-10">
          <div class="button-close-form icon-close" ng-click="closeForm()">
            <i class="icon ion-close icon-close"></i>
          </div>
          <div class="button-close-form" ng-click="borrarCategoria()" ng-show="editando">
            <i class="icon ion-trash-b icon-delete"></i>
          </div>
        </div>
      </div>
    </ion-item>
  </div>
  <ion-content ng-class="{expanded:mostrarFormulario}" class="has-categorias-subtotales">
    <ion-list class="animate-ripple ">
      <ion-item class="card-item item-invitado" can-swipe="true" ng-repeat="cat in categorias track by cat.nombre">
        <div ng-click="editarCategoria(cat)" class="card ink ink-dark" id="{{'CAT_'+cat.nombre}}">
          <div class="item item-text-wrap item-data">

            <strong>{{cat.nombre}}</strong>

            <div class="card-footer text-right rgba-secondary-2-4">
              <i class="icon ion-social-usd"></i> {{cat.getTotal()}}
              <i class="icon ion-android-people"></i> {{calcularCantidad(cat)}}
            </div>
          </div>
        </div>

      </ion-item>

      <ion-item style="min-height: 5em" class="item-clear ">

      </ion-item>
    </ion-list>

  </ion-content>


  <img src="img/tutorial 1.png" class="tutorial animate-fade-in"
       ng-show="getCategorias().length == 0  && mostrarBotonEditar">

  <button id="fab-categoria-plus" ng-click="nuevaCategoria()" ng-show="mostrarBotonEditar"
          class="button button-fab button-fab-bottom-right expanded button-green spin"><i
    class="icon ion-plus-round"></i></button>

</ion-view>
