<ion-view view-title="Quiénes somos?">
  <div class="animate-ripple invitados-subtotales has-header">
    <ion-item class="item-totals">
      <div class="ink ink-dark">
        <div class="row ">
          <div class="col">
            Total Gastos
          </div>
          <div class="text-right col">
            <i class="icon ion-social-usd"></i> {{totalCategorias()}}
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item class="item-totals">
      <div class="ink ink-dark">
        <div class="row ">
          <div class="col">
            Recaudado
          </div>
          <div class="text-right col">
            <i class="icon ion-social-usd "></i> {{recaudado}}
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item class="item-totals animate-expand" ng-show="showBalance" >
      <div class="ink calm-900-bg ink-dark text-center item-text-wrap error">
        <span>{{balance}}</span>


      </div>


    </ion-item>
  </div>
  <ion-content ng-class="{expanded:isExpanded, error:!showBalance}" class="has-subtotales animate-ripple">

    <ion-list>


      <ion-item class="item-invitado" ng-repeat="inv in getInvitados()">
        <div class="card ink light-bg" >
          <div class="row ">
            <div class="col col-20">
              <button class="button button-fab button-fab-small" ng-show="calcularSaldo(inv) >0 "
                      ng-click="pagar(inv)" ng-class="{'button-ya-pago': yaPago(inv)}"><i
                class="icon ion-checkmark"></i></button>
            </div>
            <div class="item item-text-wrap col item-data" ng-click="editarInvitado(inv)">

              <strong>{{inv.nombre}}</strong>

              <div class="card-footer text-right "
                   ng-class="{'dark':calcularSaldo(inv)==0, 'assertive-900':calcularSaldo(inv)<0, 'balanced-900':calcularSaldo(inv)>0}">
                {{getSaldo(inv)}}

              </div>
            </div>
          </div>
        </div>

      </ion-item>

      <ion-item style="min-height: 2em" class="item-clear ">

      </ion-item>
    </ion-list>

  </ion-content>
  <toast></toast>
  <div ng-show="getInvitados().length == 0" class="tutorial animate-fade-in">
     Hacé click en el <strong><i class="icon ion-plus-circled"></i></strong> para agregar in invitado
  </div>

  <button id="fab-invitado-plus" ng-click="nuevoInvitado()"
          class="button button-fab button-fab-bottom-right expanded button-green spin"><i
    class="icon ion-plus-round"></i></button>
</ion-view>
