<ion-view view-title="Nuevo Invitado">
  <ion-content >
    <div class="invitado-header">
      {{invitado.nombre}}
    </div>
    <ion-list >
      <ion-toggle class="" ng-repeat="cat in categoriasSeleccionadas" ng-model="cat.seleccionado">
        {{cat.categoria.nombre}}
      </ion-toggle>
    </ion-list>

  </ion-content>
  <div class="hide-on-keyboard-open">
    <button id="fab-nextInvitado" ng-click="guardarInvitado()"
            class="button button-fab button-fab-bottom-right expanded button-violeta spin"><i
      class="icon ion-checkmark-round"></i>
    </button>
  </div>
  <toast style="margin-bottom:50%"></toast>

</ion-view>
